:root {
  --main-bg-color: white;
  --main-theme: rgba(0, 162, 255, 0.587)
  ;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  margin: 0;
  position: relative;
}

.rectangle {
  width: 40vw;
  height: 70vh;
  border-radius: 15px;
  background: #0078e8;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.12);
 
}

.logo {
  position: absolute;
  top: 15%; 
  left: 17%;
  z-index: 1;
  margin-left: 0%;
  justify-content: flex;
}

.logos {
  padding: 5px;
  left: 50%; 
}

.welcome {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 205%; /* Move to the vertical center */
  left: 140%; /* Move to the horizontal center */
  transform: translate(-50%, -50%); /* Adjust position to center */
  color: #0078e8;
  width: 25%;
  margin-right: 40%;
  font-family: "Inter", sans-serif;
  font-size: 5.2em;
}



.card {

  width: 40vw;
  height: 70vh;
  border-radius: 15px;
  background: #dddddd;
  top: 225%; 
  left: 200%;
  perspective: 1000px; 
}
.anotherbox {
  position:relative;
  width: 40vw;
  height: 25vw;
  border-radius: 15px;
  background:#0078e8;
  /*left: 50%; */
  
}

.card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.card:hover .card-inner {
  transform: rotateY(180deg);
}


.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}


.card-front {
  background-color: #0078e8;
  color: ghostwhite;
}


.card-back {
  background-color: ghostwhite;
  color: white;
  justify-content: center;
  font-size: 9.5 em;
  font-family: "Inter", sans-serif;
  transform: rotateY(180deg);
}
.email {
  font-size: 9.5 em;
  font-family: "Inter", sans-serif;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;

}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .rectangle {
    height: 93vh;
  }

 
}